/* start styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #444;
  font-family: "Poppins";
}
li,
ul {
  list-style-type: none;
}
main {
  padding: 140px 40px 40px;
  color: #bbb;
}

/* solution styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem 2rem;
  min-height: 100px;
  background-color: #333;
  color: #fff;
}

.hamburger-icon {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bar {
  width: 35px;
  height: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.5s ease;
}

.bar-1 {
  position: absolute;
  top: 50%;
  transform-origin: center;
  transform: translateY(-50%) rotate(45deg);
}

.bar-2 {
  opacity: 0;
  width: 0;
}

.bar-3 {
  position: absolute;
  top: 50%;
  transform-origin: center;
  transform: translateY(-50%) rotate(-45deg);
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  min-height: 100vh;
  padding: 2rem;
  padding-top: 120px;
  background-color: #222;
  color: white;
  transition: 0.5s ease;
}

.nav.is-hidden {
  left: -100%;
}

.nav__items__item {
  margin-bottom: 0.25rem;
}
.nav__items__item a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.nav__items__item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 10px;
  background-color: rgba(250, 128, 114, 0.596);
  transition: 0.3s ease-in-out;
}

.nav__items__item a:hover::before {
  width: 100%;
}

@media (max-width: 480px) {
  .header {
    justify-content: center;
  }
  .hamburger-icon {
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 122px;
    width: 100%;
  }

  .nav__items {
    text-align: center;
  }
}
/* open state */

/* transitions */
